.title {
 position: relative;
 text-align: center;
 background-color: black;
 background-image: url(http://wallpapercave.com/wp/TzghQg3.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: bottom;
 height: 570px;
 width: 100%;
 display: flex;
 justify-content: center;
}

.hero-content {
  color: white;
  position: relative; 
  top: 65%;
  background-color: rgba(0, 0, 0, 0.799);
  width: 50%;
  height: 175px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
